:root {
    --branco: #fff;
    --preto: #000;
    --preto-tom2: #2a2a2a;
    --tom1: #d05f4b;
    --tom2: #d87b6b;
    --tom3: #e0978a;
    --tom4: #e8b2a9;
    --tom5: #ecc0b8;
    --tom6: #f1cec8;
    --tom7: #f5dcd7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--tom7); /* Usando a cor de fundo mais suave */
    padding: 20px;
    min-height: 100vh; /* Garante que o corpo ocupe ao menos 100% da altura da tela */
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--tom1);
    color: var(--branco);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: var(--branco);
    text-decoration: none;
    font-size: 16px;
}

header .icons img {
    width: 30px;
    height: 30px;
}

.manicure-info .info-card {
    background-color: var(--branco);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}

.manicure-info h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: var(--preto);
}

.manicure-info ul {
    list-style: none;
    padding: 0;
}

.manicure-info ul li {
    font-size: 16px;
    margin: 5px 0;
    color: var(--preto-tom2);
}

.manicure-info .location {
    font-size: 16px;
    margin-top: 10px;
    color: var(--preto-tom2);
}

.manicure-info .rating span {
    font-size: 18px;
    color: #ffb400;
}

/* Ajuste do botão fixo */
.button {
    background: var(--tom1); /* Cor de fundo */
    border: none; /* Remove a borda */
    color: white; /* Cor do texto */
    padding: 20px 30px; /* Espaçamento interno */
    font-size: 20px; /* Tamanho da fonte */
    border-radius: 4px; /* Cantos arredondados */
    cursor: pointer; /* Cursor como mãozinha */
    transition: 0.2s; /* Transição suave */
    position: fixed; /* Fixa o botão na tela */
    bottom: 30%; /* Distância da parte inferior */
    left: 20px; /* Distância da esquerda */
}

.button:hover {
    background: var(--tom2);
}

.button:active {
    transform: scale(0.95);
}

/* Ajuste do footer */
footer {
    margin-top: auto; /* Garante que o footer fique na parte inferior da tela */
    background-color: var(--tom1);
    color: var(--branco);
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}
